/_Dataset/*
/_Legacy/*
/_Preprocess/Frontalization/*
/_Preprocess/frames_per_participants/*
/Models/CNN/_versions/*
/Models/CNN_2Stream/_versions/*
/Models/CNN_3D/_versions/*
/Models/CNN+EGG/_versions/*
/Models/CNN+Geometry/_versions/*
/Models/CNN+LSTM/_versions/*
/Models/CNN+GRU/_versions/*
